/*
---------------------------------------------
Powerweave Studio Home Page Starts Here
---------------------------------------------
*/
@import url('https://fonts.googleapis.com/css?family=Bitter');

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: 'Bitter', serif;
}
.bg-inverse{
	width: 100%;
}
.navbar{
	padding: 0px;
}
.navbar-toggler{
	margin: 15px auto;
    cursor: pointer;
}
.nav-item a{
	color: white;
	font-size: 16px;
}
.nav-item a:hover{
	color: #00adee;
}
.med-navbar{
	display: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 2px;
	background-color: black;
	z-index: 100;
	transform: translateY(-500px);
	transition: transform 2s ease;
}
.med-navbar-menu-item{
	width: 150px;
	list-style-type: none;
	margin: 5px auto;
	padding: 3px;
	text-align: center;
	border: 1px solid white;
}
.med-navbar-menu-link{
	text-decoration: none;
	color: white;
}
.med-navbar-menu-link:after{
	text-decoration: none;
}
.med-navbar-menu-link:hover{
	color: #00adee;
}
.med-navbar-button{
	display: none;
	margin: 10px;
	padding: 0px;
	right: 0;
	left: 0;
	cursor: pointer;
	position: absolute;
	width: auto;
	height: auto;
}
.med-navbar-button span{
	background-color: black;
	margin: 0px auto;
	border-radius: 2px;
	display: block;
	width: 30px;
	height: 2px;
	margin: 2px;
	padding: 2px;
}
.active a{
	color: #00adee;
}
.home-fade-slide-container{
	position: relative;
}
.home-fade-slide{
 	position: fixed;
}
.home-logo-container{
	position: absolute;
	left: 22%;
	top: 150px;
	padding: 0px;
	opacity: 0;
	transition: all 0.5s ease-in;
}
.home-content{
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 500px;
	top: 220px;
	left: 22%;
	color: #fff;
	font-size: 30px;
	opacity: 0;
	transition: all 0.5s ease-in;
}
.home-menu-slide-navbar{
	position: absolute;
	left: 22%;
	top: 380px;
	opacity: 0;
	transition: all 0.5s ease-in;
}
.home-menu-slide-navbar ul{
	padding-left: 0px;
}
.home-menu-slide-navbar li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline-block;
}
.home-menu-slide-navbar li:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}

.home-menu-slide-navbar a{
	margin: 0px 20px 0px 0px;
	padding-left: 0px;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
.home-menu-slide-navbar a:hover{
    color: #00adee;
}
.home-wrapper {
	position: relative;
	margin-left: 22%;
	margin-top: 50px;
	color: #fff;
	float: left;
	z-index: 5;
}
/*
---------------------------------------------
Powerweave Studio Home Page Ends Here
---------------------------------------------
*/
